<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.appsys.dao.BackendUserMapper" >
	<!-- 查询管理员 -->
  <select id="getAll" parameterType="string" resultType="BackendUser">
 	select * from backend_user where userCode= #{name} and userPassword = #{pwd}
  </select>
</mapper>